name: Deploy to dev cluster

on:
  workflow_dispatch:
    # Enable manual trigger of this action.
    inputs:
      project:
        description: Google Cloud project
        default: "portal-dev-321112"
        required: true
      zone:
        description: Target zone
        default: "europe-west1-b"
        required: true
      upgrade:
        description: Force upgrade instead of re-apply. Default false ("")
        default: ""
        required: false

jobs:
  publish-feature-image:
    runs-on: ubuntu-latest
    name: Publish container image
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - uses: actions/setup-go@v2
        with:
          go-version: '1.16'
      - name: Login to container registry
        uses: docker/login-action@v1
        with:
          registry: docker.io
          username: ${{ secrets.DH_USERNAME }}
          password: ${{ secrets.DH_PASSWORD }}
      - name: Persist Service account key
        run: echo "${{ secrets.GOOGLE_SA_KEY }}" > ${{ github.event.inputs.project }}.json
      - name: Fetch Kubeconfig
        run: ./hack/fetch-kube-congif.sh
        env:
          KEY_FILE: ${{ github.event.inputs.project }}.json
          ZONE: ${{ github.event.inputs.zone }}
          PROJECT: ${{ github.event.inputs.project }}
      - name: Build plugin
        run: make build
      - name: Update StorageOS deployment
        run: ./hack/upgrade-cluster.sh
        env:
          UPGRADE: ${{ github.event.inputs.upgrade }}
